<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/iron-pages/iron-pages.html">
<link rel="import" href="../login-usuario/login-usuario.html">
<link rel="import" href="../visor-usuario/visor-usuario.html">

<dom-module id="user-dashboard">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <h2>BBVA Ana</h2>
    <iron-pages selected="[[componentName]]" attr-for-selected="component-name">
      <div component-name="login"><login-usuario on-isloggedevent="processLogin" id="logincomponent"></login-usuario></div>
      <div component-name="visorusuario"><visor-usuario id="visorusuariocomponent"> </visor-usuario></div>
    </iron-pages>


  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class UserDashboard extends Polymer.Element {
      static get is() { return 'user-dashboard'; }
      static get properties() {
        return {
          componentName: {
            type: String,
            value: "login"
          }

        };
      }

      processLogin(e){
        console.log("Capturado evento de login");
        console.log(e);
        console.log(e.detail);

        //Pasamos el id de usuario al visor-usuario
         this.$.visorusuariocomponent.id = e.detail.userid;
         //console.log(this.$.visorusuariocomponent.id);
        // this.$.receiver.year = e.detail.year;

        this.componentName = "visorusuario";
      }

    }//close class


    window.customElements.define(UserDashboard.is, UserDashboard);
  </script>
</dom-module>
