<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="login-usuario">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>

    <input placeholder="email" type="email" value="{{email::input}}"> </input>
    <input placeholder="password" type="password" value="{{password::input}}"> </input>
    <button on-click="login"> Login </button>
    <span hidden$="{{!isLogged}}">Bienvenido/a de nuevo</span>

    <iron-ajax
      id="doLogin"
      url="http://localhost:3000/apitechu/v2/login"
      handle-as="json"
      content-type="application/json"
      method="POST"
      on-response="manageAJAXResponse"
      on-error="showError"
    >
    </iron-ajax>


  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class LoginUsuario extends Polymer.Element {
      static get is() { return 'login-usuario'; }
      static get properties() {
        return {
          password: {
            type: String

          }, email: {
            type: String
          }, isLogged: {
            type: Boolean,
            value: false
          }, userid: {
            type: Number
          }
        };
      }
      login(){
        console.log("El usuario ha pulsado el botón Login");
        console.log("Voy a enviar la petición");

        var loginData = {
          "email":this.email,
          "password":this.password
        }
        this.$.doLogin.body = JSON.stringify(loginData);
        this.$.doLogin.generateRequest();

        console.log("Petición enviada");
      }

      manageAJAXResponse(data){
        console.log("Legaron los resultados");
        console.log(data.detail.response);

        this.isLogged = true;
        //Generamos el evento
        console.log("Lanzando evento del login");
        this.dispatchEvent(
          new CustomEvent(
            "isloggedevent",
            {
              "detail" : {
                "userid": data.detail.response.id,
                "isLogged": this.isLogged
              }
            }
          )
        )
      }

      showError(error){
        console.log("Hubo un error");
        console.log(error);

        this.isLogged = false;
      }


    }//close class


    window.customElements.define(LoginUsuario.is, LoginUsuario);
  </script>
</dom-module>
