<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="visor-cuentas">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <iron-pages selected="[[componentName]]" attr-for-selected="component-name">
      <div component-name="vercuentas">

    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">IBAN</th>
          <th scope="col">BALANCE<th>
        </tr>
      </thead>
      <tbody>
    <template is="dom-repeat" items="{{accounts}}">
      <tr>

        <td>[[item.iban]]</td>
        <td>[[item.balance]] €</td>
      </tr>
    </template>

  </tbody>
  </table>
</div>
</iron-pages>


<iron-ajax
  id="getAccounts"
  url="http://localhost:3000/apitechu/V1/accounts/{{userid}}"
  handle-as="json"
  on-response="showData"></iron-ajax>

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class VisorCuentas extends Polymer.Element {
      static get is() { return 'visor-cuentas'; }
      static get properties() {
        return {
          userid: {
            type: Number,
            observer: '_useridChanged'
          }, iban: {
            type: String
          }, balance:{
            type:Number
          }, accounts:{
            type:Array
          },componentName:{
            type:String
          }
        };
      }
      showData(data){
        console.log("Ha llegado respuesta");
        console.log(data.detail.response);
        // console.log(data.detail.response.first_name);
        // console.log(data.detail.response.last_name);
        // console.log(data.detail.response.email);
        //
        // this.first_name = data.detail.response.first_name;
        // this.last_name = data.detail.response.last_name;
        // this.email = data.detail.response.email;
        this.accounts = data.detail.response;

      }
      _useridChanged(newValue, oldValue){
        this.$.getAccounts.generateRequest();
        console.log("Peticion de consulta de cuentas  enviada");

      }
    }//close class

    window.customElements.define(VisorCuentas.is, VisorCuentas);
  </script>
</dom-module>
