<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../visor-cuentas/visor-cuentas.html">

<dom-module id="visor-usuario">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <h2>Soy {{first_name}} {{last_name}}</h2>
    <h3>y mi email es {{email}}</h3>
    <button on-click="vercuentas"> Ver mis cuentas </button><br>
    <div><visor-cuentas id="visorcuentascomponent"> </visor-cuentas></div>


    <iron-ajax
      id="getUser"
      url="http://localhost:3000/apitechu/v2/users/{{id}}"
      handle-as="json"
      on-response="showData"
    >
    </iron-ajax>


  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class VisorUsuario extends Polymer.Element {
      static get is() { return 'visor-usuario'; }
      static get properties() {
        return {
          first_name: {
            type: String,

          }, last_name: {
            type: String
          }, email: {
            type: String
          }, id: {
            type: Number,
            observer: '_idChanged'
          }
        };
      }

      showData(data){
        console.log("Ha llegado respuesta");
        console.log(data.detail.response);
        console.log(data.detail.response.first_name);
        console.log(data.detail.response.last_name);
        console.log(data.detail.response.email);

        this.first_name = data.detail.response.first_name;
        this.last_name = data.detail.response.last_name;
        this.email = data.detail.response.email;

      }
      _idChanged(newValue, oldValue){
        this.$.getUser.generateRequest();
        console.log("peticion de consulta de usuario enviada")
      }
      vercuentas(){
       console.log("Funcion Ver mis cuentas");
       console.log(this.id);
       this.$.visorcuentascomponent.userid = this.id;
       this.$.visorcuentascomponent.componentName="vercuentas";
     }

    }//close class


    window.customElements.define(VisorUsuario.is, VisorUsuario);
  </script>
</dom-module>
